<% provide(:page_title, @post.title)%>
<p id='notice'><%= notice %></p>

<div class='container p-3'>
  <div class='row'>
    <div class='col-12 text-center'>
      <% if current_user.id == @post.user_id %>
        <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-info btn-sm' %> |
        <%= link_to 'Delete', post_path(@post), method: :delete, class:'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
      <% end %>

      <%= link_to 'Back', posts_path,  class:'btn btn-secondary btn-sm' %> |
    </div>
  </div>
</div>

<section class='section mt-5'>
  <div class='row'>
    <div class='col-md-6'>
      <div>
        <img alt='Imgane' class='img-fluid' src='<%= @post.banner_image_url %> ' />
      </div>
      <div>
        <br>
        <span class='badge badge-info'> <%= "#{@post.title} have #{ @post.comments.count} comments" %></span>
        <br>
        <%= render @post.comments %>
        <h5> Let your review here: </h5>
        <%= render 'comments/form' %>
      </div>
    </div>

    <div class='col-md-6 ml-auto'>
      <div>
        <h1 class='text-center'>
          <%= @post.title %>
        </h1>
        <p class='text-center text-muted'> Publicado el <%=  l(@post.created_at, format: :long) %> </p>
        <p class='text-center  text-muted'> <%= @post.user.email%></p>
        <p class='text-justify mt-2'>
          <%= markdown(@post.body) %>
        </p>
      </div>
    </div>
  </div>
</section>
